header {
    align-items: center;
    background: $brand-blue-color;
    display: flex;
    height: $header-height;
    justify-content: center;
    text-align: center;
    width: 100%;

    @include md-screen {
        justify-content: flex-start;
    }

    .content-wrapper.hero {
        width: 100%;

        @include md-screen {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    img {
        height: 30px;
    }
}