// General elements

hr {
    height: auto;
    margin: 1em auto 1.5em;
    max-width: 300px;
    overflow: inherit;
    position: relative;

    &::after {

        content: "";
        display: block;
        border-right: 2px solid #fff;
        height: 12px;
        position: absolute;
        top: -6.5px;
        left: 50%;
        width: 12px;
        transform: translateX(-50%) rotate(45deg);
        z-index: 1;
    }

    &.on-blue {
        border-top: 2px solid $light-blue-color;

        &::after {
            background-color: $brand-blue-color;
            border-right: 2px solid $light-blue-color;
        }
    }

    &.on-white {
        border-top: 2px solid #000;

        &::after {
            background-color: #fff;
            border-right: 2px solid #000;
        }
    }

    &.on-gray {
        border-top: 2px solid #000;

        &::after {
            background-color: $light-gray-color;
            border-right: 2px solid #000;
        }
    }

    .headers & {
        margin-top: .5rem;
    }
}

button {
    border: none;
    margin: 0;
    padding: 0;
}

.section-wedge {
    background: $brand-blue-color;
    // border: 5rem solid yellow;
    // border-top: 5rem solid red;
    clip-path: polygon(0% 0, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
    height: 3rem;
    margin-bottom: -0.5px;
    // width: 100%;
}

.highlighted-title {
    background-color: #fff;
    color: $sat-blue-color;
    display: inline-block;
    // font-size: $text-big-title;
    margin-bottom: 0.25em;
    padding: 0.25em;

    &.black {
        background-color: #000;
        color: #fff;
    }

    &.light-blue {
        background-color: $light-blue-color;
        color: #000;
    }

    &.brand-blue {
        background-color: $brand-blue-color;
        color: #fff;
    }

    &.rounded {
        border-radius: $border-radius;
    }
}

.bubble-header {
    background-color: $light-blue-color;
    border-radius: 1em;
    display: inline-block;
    margin: 2em 0 .5em;
    padding: 4px 2em;
    position: relative;

    &::after {
        border: 8px solid transparent;
        border-top: 8px solid $light-blue-color;
        bottom: -14px;
        content: '';
        display: block;
        height: 8px;
        left: 50%;
        position: absolute;
        width: 8px;
        transform: translateX(-50%);
    }
}

.cta-button {
    align-items: center;
    background-color: $orange-color;
    border-radius: $border-radius;
    box-shadow: 0 6px $dark-orange-color;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 60px;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0;
    text-align: center;
    outline: none;
    padding: .5em;
}

.award-item {
    font-size: $text-subtitle;
    font-weight: 600;
    margin: .8em 0;
    text-align: center;
    position: relative;

    &::before {
        content: url(../assets/award-leaves-half.svg);
        height: auto;
        left: 1em;
        position: absolute;
        top: 60%;
        width: 30px;
        transform: translateY(-50%);
    }

    &::after {
        content: url(../assets/award-leaves-half.svg);
        height: auto;
        right: 1em;
        position: absolute;
        top: 60%;
        width: 30px;
        transform: scaleX(-1) translateY(-50%);
    }

    &.blue-leaves {
        color: $brand-blue-color;

        &::before,
        &::after {
            content: url(../assets/award-leaves-half-blue.svg);
        }
    }

    .small-text {
        font-size: $text-small;
    }
}

.cta {
    background-color: $light-blue-color;
    padding: 1em 0;

    .cta-box {
        background-color: #fff;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        overflow: hidden;

    }

    .cta-box-header {
        background-color: $brand-blue-color;
        color: #fff;
        text-align: center;
        padding: .5em;

        .logo {
            vertical-align: baseline;
            width: 100px;
        }
    }

    .headers {
        align-items: center;
        color: orange;
        display: flex;
        font-size: $text-title;
        font-weight: 700;
        justify-content: center;
        text-align: center;

        span:nth-of-type(1) {
            display: block;
            font-size: 3.3rem;
        }

        img {
            max-width: 80px;
        }
    }

    .cta-box-content {
        display: flex;
        flex-direction: column;
        padding: 1em 1.5em;
    }

    .top-button {
        span:nth-of-type(1) {
            color: $yellow-color;
            display: block;
            font-size: $text-small;
        }
    }

    .bottom-button {
        background-color: $green-color;
        box-shadow: 0 6px $dark-green-color;
    }

    .header-block {
        margin: 1em auto;
        text-align: center;

        .logo {
            vertical-align: baseline;
        }
    }

}

// Text classes
.sat-blue-text {
    color: $sat-blue-color;
}

.brand-blue-text {
    color: $brand-blue-color;
}

.orange-text {
    color: $orange-color;
}

// Background classes
.white-bg {
    background: #fff;
}

.light-gray-bg {
    background: $light-gray-color;
}

.brand-blue-bg {
    background: $brand-blue-color;
}

.sat-blue-bg {
    background: $sat-blue-color;
}

video {
    border: 2px solid $brand-blue-color;
    border-radius: $border-radius;
    display: block;
}

// End of General elements

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .orange-ribbon {
        background: $orange-color;
        padding: 4px 0;

        .primary {
            color: $yellow-color;
            font-size: $text-subtitle;

            b {
                font-size: 1.5em;

            }

            span {
                color: #fff;
                font-size: $text-small;
                margin-right: .5em;
                position: relative;

                &::after {
                    border: 1px solid #fff;
                    border-radius: 50%;
                    content: '';
                    display: block;
                    position: absolute;
                    height: 42px;
                    width: 42px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .secondary {
            color: #fff;
        }

        &+div {
            padding-top: 1em;
            font-weight: 500;
            font-size: 1.2em;
            margin-bottom: 1em;
        }
    }

    .blue-ribbon {
        background-color: $sat-blue-color;
        color: #fff;
        display: inline-block;
        font-size: $text-big-title;
        margin-bottom: 1em;
        padding: 4px 10px;
    }

    .big-header-title {
        font-size: $text-xl-title;
        font-weight: 700;
        margin-bottom: .8em;
    }

    .subtitle {
        font-size: $text-title;
        font-weight: 500;
        margin-bottom: .7em;
    }

    .content-side {
        text-align: center;
        width: 100%;
    }

    .tabs {
        background-color: $gray-blue-color;
        color: #fff;

        .content-wrapper {
            display: flex;
            flex-direction: row;
        }

        .tab {
            font-size: 1em;
            padding: .5em .5em;
            width: 33.33%;

            span {
                font-size: 0.8em;
                display: block;
            }

            &.active {
                background-color: $brand-blue-color;
            }
        }
    }

    .image-side {
        display: none;

        @include md-screen {
            display: initial;
        }
    }

    video.mobile {
        border: 2px solid $brand-blue-color;
        border-radius: $border-radius;
        margin: 0 auto;
        margin-bottom: 1.8em;
    }
}

.awards {
    background-color: $brand-blue-color;
    color: #fff;
    padding: 3em 0;
    text-align: center;

    .logo {
        margin: 0 auto;
        margin-bottom: 1em;
        width: 50%;
    }

    .small-disclaimer {
        font-size: .5em;
    }

    p.small-text {
        font-size: $text-small;
        margin-top: 1em;
    }
}

.benefits {
    .headers {
        padding: 1em 0;
        text-align: center;

        span:nth-of-type(1) {
            color: $light-blue-color;
            font-size: $text-big-title;
            font-weight: 500;
            display: block;
            margin-bottom: 0.5em;
        }

        span:nth-of-type(2) {
            font-size: $text-xl-title;
        }
    }

    .secondary-headers {
        background-color: $brand-blue-color;
        color: #fff;
        text-align: center;

        .header-block {
            font-size: $text-title;
            margin-bottom: 1rem;

            &:first-of-type {
                padding-top: 1rem;
            }
        }

        .logo {
            vertical-align: baseline;
            width: 160px;
        }

        .highlighted-title {
            background-color: #fff;
            color: $sat-blue-color;
            display: inline-block;
            margin-bottom: 0.5em;
        }
    }

    .content-box {
        background-color: #fff;
        border-radius: $border-radius;
        color: $sat-blue-color;
        padding: 1em;
        text-align: center;

        .header {
            font-size: $text-title;
            margin-bottom: 0.5rem;
        }

        video {
            display: block;
            margin: 0 auto;
        }

        img {
            width: 100%;
        }
    }
}

.why {
    background-color: $brand-blue-color;
    color: #fff;
    text-align: center;


    .section-header {
        font-size: $text-xl-title;
        padding-top: 1em;

    }

    .headers {
        font-size: $text-big-title;
        margin-bottom: 1em;

        span {
            color: $yellow-color;
        }

        .underlined {
            text-decoration: underline;
        }
    }

    .content-box {
        padding: 1em 0 0;

        img {
            width: 100%;
        }
    }
}

.ease-of-use,
.alerts,
.demo {
    .headers {
        padding-top: 2em;
        text-align: center;

        div:nth-of-type(1) {
            font-size: $text-subtitle;
        }

        div:last-of-type {
            font-size: $text-big-title;
            margin-top: -0.5em;
        }
    }

    video {
        margin: 2em auto;
    }

    .subtitle {
        font-size: $text-subtitle;
        font-weight: 500;
        text-align: center;
        padding: 1em 0 2em;
    }
}

.alerts {
    background-color: $light-gray-color;

    img {
        width: 100%;
    }
}

.min-deposit {
    text-align: center;

    .main-header {
        font-size: $text-xl-title;
        margin-bottom: .5em;

        span {
            color: $sat-blue-color;
        }
    }

    .content-box {
        background-color: $light-gray-color;
        border-radius: $border-radius;
        padding: 1em;
    }

    .box-title {
        background-color: $brand-blue-color;
        color: #fff;
        border-radius: 1em;
        display: inline-block;
        font-size: $text-subtitle;
        margin-bottom: 1em;
        padding: .25em 1em;
    }

    .deposit-box {
        display: flex;

        &.white {
            background-color: #fff;

            .company {
                background-color: $dark-gray-color;
            }
        }

        &.blue {
            background-color: $light-blue-color;

            .company {
                background-color: $brand-blue-color;
            }

            .sum {
                color: $sat-blue-color;
            }
        }

        .company {
            align-items: center;
            color: #fff;
            display: flex;
            justify-content: center;
            margin: 1.5em;
            max-width: 25%;
            min-width: 100px;
            min-height: 70px;
            padding: .5em;
        }

        .sum {
            align-items: center;
            border-left: 2px dotted $brand-blue-color;
            display: flex;
            font-size: $text-big-title;
            font-weight: 500;
            text-align: left;
            padding: 0 1em;
            width: 100%;

            span {
                font-size: $text-subtitle;
            }
        }

        .logo {
            width: 100%;
        }
    }

    .subtitle {
        font-size: $text-subtitle;
        margin: 2em 0;

        span {
            color: $sat-blue-color;
        }
    }
}

.demo {
    background-color: $light-gray-color;

    .header-block {
        padding-top: 0.5em;
    }
}

.ko {
    text-align: center;

    .header-block {
        font-size: $text-title;
    }

    .main-header {
        font-size: $text-big-title;
        margin-bottom: 1em;

        span {
            color: $sat-blue-color;
        }
    }

    .subtitle {
        margin-bottom: 1rem;
    }

    .content-box {
        background-color: $light-gray-color;
        border-radius: $border-radius;
        margin-bottom: 2rem;
        padding: 3em 1em 0;
        position: relative;
        overflow: hidden;

        &::before {
            background: #fff;
            content: '';
            display: block;
            left: 50%;
            position: absolute;
            top: -10px;
            height: 20px;
            width: 20px;
            transform: translateX(-50%) rotate(45deg);
        }
    }

    .content-strip {
        background: $brand-blue-color;
        color: #fff;
        padding: 1rem;
        position: relative;
        width: calc(100% + 2rem);
        transform: translateX(-1rem);

        &::after {
            background: #000;
            bottom: -20px;
            content: '';
            display: block;
            height: 20px;
            left: 50%;
            position: absolute;
            width: 20px;
            z-index: 10;
        }
    }

    .header {
        font-size: $text-title;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .checklist {
        margin-bottom: 2rem;
        padding: 0 2rem;
        text-align: left;
    }

    .checklist-item {
        border-bottom: 3px dotted #000;
        font-weight: 500;
        padding: .5rem 0;
        position: relative;

        &::before {
            border: solid 2px #000;
            content: '';
            height: 16px;
            display: inline-block;
            margin-right: 0.5rem;
            position: relative;
            top: 2px;
            vertical-align: baseline;
            width: 16px;
        }

        &::after {
            border: 3px solid #000;
            border-left: transparent;
            border-top: transparent;
            content: '';
            display: block;
            height: 12px;
            left: 6px;
            top: 12px;
            position: absolute;
            width: 6px;
            transform: rotate(45deg);
        }
    }

    img {
        width: 100%;
    }

    video {
        margin: 2em auto;
    }
}

.features {
    padding: 2rem 0;
    text-align: center;

    .content-wrapper {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    .content-box {
        background: #fff;
        border-radius: $border-radius;
        margin-bottom: 6rem;
        padding: 2rem 1rem;
        position: relative;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .content-box-header {
        // outline: 2px solid $brand-blue-color;
        color: #fff;
        display: inline;
        font-size: $text-xl-title;
        font-weight: 500;
        left: 50%;
        position: absolute;
        top: -4rem;
        text-shadow: -2px -2px 0 $brand-blue-color, 2px -2px 0 $brand-blue-color, -2px 2px 0 $brand-blue-color, 2px 2px 0 $brand-blue-color;
        transform: translateX(-50%);

        span {
            font-family: 'roboto', sans-serif;
            font-size: 2em;
            position: relative;
            top: .4rem;
        }
    }

    .headers {
        text-align: center;

        span {
            display: block;
            font-size: $text-xl-title;
            font-weight: 500;

            &:first-of-type {
                color: $light-blue-color;
                font-size: 3rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            &:last-of-type {
                font-size: 4rem;
                margin-bottom: -2rem;
            }
        }
    }

    .header {
        font-size: $text-xl-title;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .subheader {
        // font-size: $text-subtitle;
        font-weight: 500;
    }

    .highlighted-title {
        font-size: $text-subtitle;
    }

    .qoute {
        background-color: $light-blue-color;
        border-radius: $border-radius;
        display: inline-block;
        font-size: $text-big-title;
        font-weight: 500;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    .arrow-down {
        border: 1rem solid transparent;
        border-bottom: none;
        border-top: 1rem solid #0c2780;
        margin: 0 auto;
        margin-top: 2rem;
        width: 1rem;
        transform: scale(3.5, 1.5);
    }

    .trading-grid {
        border: 1px solid $brand-blue-color;
        display: grid;
        grid: auto-flow / 1fr 2fr;
        font-weight: 500;
        margin: 0 auto;
        width: 80%;

        .cell {
            border: 1px solid $brand-blue-color;
            padding: .5rem;

            &.title {
                align-self: stretch;
                align-items: center;
                background: $light-blue-color;
                display: flex;
                font-size: 1rem;
                justify-content: center;
            }
        }
    }

    .subheader {
        font-size: $text-title;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }

    img {
        width: 100%;

        &.no-fees {
            margin-bottom: 1rem;
            width: 60%;
        }

        &.arrow-img {
            width: initial;
        }
    }

    video {
        margin: 0 auto;
    }
}

.regulation {

    .headers {
        font-size: $text-subtitle;
        font-weight: 500;
        margin-bottom: 1rem;
        text-align: center;
    }

    .header {
        font-size: $text-big-title;
        margin-bottom: 1rem;
        text-align: center;

        span {
            font-size: $text-xl-title;
        }
    }

    .subheader {
        font-size: 1rem;
        font-weight: 400;

    }

    .content-box {
        border-radius: 8px;
        margin-bottom: 3rem;
        padding: 2rem 1rem;
        padding-top: 0;
        position: relative;
        overflow: hidden;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    img {
        width: 100%;
    }

    .content-strip {
        background: $brand-blue-color;
        color: #fff;
        font-size: $text-big-title;
        margin-bottom: 2rem;
        padding: 1rem;
        position: relative;
        text-align: center;
        width: calc(100% + 2rem);
        transform: translateX(-1rem);

        &::after {
            background: $brand-blue-color;
            bottom: -9px;
            content: '';
            display: block;
            height: 20px;
            left: 50%;
            position: absolute;
            width: 20px;
            z-index: 10;
            transform: translateX(-50%) rotate(-45deg);
        }
    }

    .dropdown-box {
        background: #fff;
        border-radius: $border-radius;
        margin-top: 1rem;
        overflow: hidden;


        .dropdown-header {
            background-color: $sat-blue-color;
            color: #fff;
            display: block;
            font-size: $text-subtitle;
            padding: .5rem 1rem;
            text-align: center;
            width: 100%;
        }

        .dropdown-content {
            padding: 1.5rem;
        }
    }
}

.trust {
    img {
        display: block;
        margin: 0 auto;

        &.trust {
            width: 50%;
        }
    }

    .headers {
        text-align: center;

        .highlighted-title {
            font-size: $text-xl-title;
        }
    }

    .title {
        text-align: center;
        font-weight: 600;
        margin: 1rem 0;
    }
}

.open-account {
    text-align: center;

    .brand-blue-bg {
        padding: 2rem 0;
    }

    .light-gray-bg {
        padding: 2rem 0;
    }

    .headers {
        align-items: center;
        border-bottom: 2px dotted #000;
        display: flex;
    }

    .header,
    .subheader {
        color: #fff;
    }

    .header {
        font-size: $text-xl-title;
        margin-bottom: 1rem;
    }

    .subheader {
        font-size: $text-big-title;
    }

    .header-icon {
        img {
            width: 75%;
        }

    }

    .header-text {
        font-size: $text-title;
        font-weight: 600;
        text-align: left;
    }

    img {
        margin: 1rem 0;
        width: 100%;

        &.atm {
            margin: 2rem auto 1rem;
            width: 70%;
        }
    }

    .content-box {
        border-radius: 8px;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: 0 1rem;
        position: relative;
        overflow: hidden;
        width: 80%;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .content-strip {
        background: $brand-blue-color;
        color: #fff;
        font-size: $text-big-title;
        margin-bottom: 2rem;
        padding: 1rem;
        position: relative;
        text-align: center;
        width: calc(100% + 2rem);
        transform: translateX(-1rem);

        &::after {
            background: $brand-blue-color;
            bottom: -9px;
            content: '';
            display: block;
            height: 20px;
            left: 50%;
            position: absolute;
            width: 20px;
            z-index: 10;
            transform: translateX(-50%) rotate(-45deg);
        }

        &:last-of-type {
            background: $sat-blue-color;
            font-size: $text-subtitle;
            margin-bottom: 0;

            &::after {
                display: none;
            }
        }
    }
}

// Sticky CTA
.sticky-cta {
    align-items: center;
    background-color: $light-blue-color;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: sticky;
    z-index: 2;

    .sticky-cta-button {
        @include animation(cta-bounce 5s infinite ease-in-out);
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        margin-bottom: 0.5rem;
        overflow: hidden;
        position: relative;
        width: 370px;

        &::before {
            @include animation(glow-pass 5s infinite ease-out);
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .65));
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
            transform: skewX(-45deg) translateX(100%);
        }

        .upper,
        .lower {
            padding: .5rem;
            padding-left: 100px;
            text-align: left;
        }

        .upper {
            background-color: #fff;

            span {
                color: $orange-color;
                font-size: $text-subtitle;
            }
        }

        .lower {
            background-color: $orange-color;
            color: #fff;
        }

        img {
            left: 5px;
            position: absolute;
            top: 50%;
            width: 80px;
            transform: translateY(-50%);
        }

    }

    .cta-link {
        text-decoration: underline;
    }

}